@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');

* {
  box-sizng: border-box;
  margin: 0;
  padding 0;
  background-color: gray;
}

li, a, button {
  font-family: "Roboto", Sans-serif;
  font-weight: "300"
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
}

.nav-links{
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links a {
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: rgba(0088a9;
}



  
