@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');

* {
  box-sizng: border-box;
  margin: 0;
  padding 0;
  background-color: gray;
}

li, a, button {
  font-family: "Roboto", Sans-serif;
  font-weight: "300"
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  
